body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

.container {
  margin: 0 auto;
}

section {
  padding: 10em 4em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
}


/* Navigation bar  */

.navbar {
  position: sticky;
  z-index: 1000;
  right: 0;
  top: 0;
  padding: 1em;
  background: white;
  height:20px ;
  width:100vw;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}
.navbar .logo span {
  color: #007af3;
}


/* ********** header *********** */

.header {
  padding-top:40px;
  text-align: center;
  height: 85vh;
}

.header .container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.header .container .left-col {
  margin: 3em 3em 0 5em;
}

.header .container .left-col h1 {
  font-size: 3em;
  width: 90%;
}

.header-img {
  width: 30%;
  margin-top: 8em;
}

.watch-video-cta {
  color:#444444 ;
  margin-left: 3em;
}
.watch-video-cta img {
  margin-right: 0.5em;
}
 .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3em;
}

.primary-cta {
  background: #007af3;
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}





/* features-section */


.features-section {
  background: #20272e;
  color: white;
  display: flex;
  justify-content: center;
}


.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

.features-list li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("https://assets.codepen.io/2621168/bullet.svg");
  background-size: contain;
  margin-right: 0.5em;
}

.features-section img {
  display: none;
}

/* ********* testimonials-section ********** */

.testimonials-section {
  background: #007af3;
  color: white;
}

.testimonials-section ul {
  display: flex;
}
.testimonials-section ul li {
  margin: 0 1em;
}
.testimonials-section li {
  background: #006bd6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}
.testimonials-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid #006bd6;
  border-radius: 50%;
  margin-top: -4.5em;
}









/* *********** contact section ************** */


.contact-section {
  position: relative;
}
.contact-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea{
  height:200px;
  resize: none;
}
input,
textarea {
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 0px ;
  width: 400px;
}
label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input[type=submit] {
  background-color: #007af3;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  cursor: pointer;
  display:block;
}
